__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db
instance/
.webassets-cache
.coverage
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.log
local_settings.py
db.sqlite3
media
.DS_Store
Thumbs.db
data/
*.db-journal
